body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
form {
    margin-bottom: 20px;
}
textarea {
    width: 100%;
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

/* Table Styling */
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f43a;
    border: 1px solid black;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
    border: 1px solid black;
}

tr:hover {
    background-color: gray;
}
