/* ----------------- */
/* Services Section */
/* ----------------- */
.services {
    background: linear-gradient(135deg, #7cabbc, #e7d6d6);
    padding: 50px 50px;
    margin-top: 80px;
}

.services .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Header styling for the services section */
.services h2 {
    font-size: 2.5rem; /* Adjust size as needed */
    color: #131a1e;  /* Change color if needed */
    margin: 20px 0px; /* Space below header */
}

.service-card h3 { /* Change 'h3' to any header tag you are using inside the card */
    font-size: 2rem; /* Adjust size as needed */
    color: #1a2a33; /* Color of the header */
    margin-bottom: 20px; /* Space below header */
}

.service-card {
    background-color: #d4cdcd8f;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 30px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.service-card p {
    font-size: 1.2rem;
    color: #4d2c2c;
    line-height: 1.9;
    margin-bottom: 20px;
}

.service-card ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 20px 0;
}

.service-card ul li {
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: #4d2c2c;
}

.service-card ul li::before {
    content: '✔';
    color: #1a2a33;
    margin-right: 10px;
}



/* ----------------- */
/* Footer Section */
/* ----------------- */
footer {
    background-color: #1a2a33;
    color: #eae0d5;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
}
